* {
  top: 0;
  left: 0; }

body {
  baackground-color: #d8d8d8;
  background-image: url("Images/virus.png");
  background-size: cover;
  background-repeat: repeat; }

footer .menu-horizontal {
  top: 95vh; }
  @media (max-width: 800px) {
    footer .menu-horizontal {
      font-size: 0.5em; } }

.infos-block, .infos-block .infos-block__infos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.menu-horizontal, .menu-vertical, .infos-block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #565656;
  background-color: #e8e5e5c4;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  font-family: "Marianne", "Open Sans", Segoe UI, arial, sans-serif;
  font-weight: bold;
  border-radius: 0px; }

.menu-horizontal {
  width: 100vw;
  height: 5vh;
  flex-direction: row; }
  @media (max-width: 800px) {
    .menu-horizontal {
      font-size: 0.5em; } }

.menu-vertical.inferieur {
  top: 35vh;
  height: 57.5vh; }

.menu-vertical {
  width: 15vw;
  height: 25vh;
  top: 7.5vh;
  left: 15px;
  flex-direction: column;
  font-size: 0.8em;
  overflow: hidden; }
  @media (max-width: 800px) {
    .menu-vertical {
      left: 0px;
      font-size: 0.5em; } }
  .menu-vertical li {
    list-style: none;
    border-top: medium double #565656;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-left: -40px;
    background-color: #8080806e; }
    .menu-vertical li:hover {
      cursor: pointer;
      background-color: #808080;
      color: #6a6a6a; }
  .menu-vertical ul {
    border-bottom: medium double #565656;
    width: 100%; }
  .menu-vertical .text-container {
    overflow: auto; }
    .menu-vertical .text-container p {
      padding: 10px 10px 10px 10px;
      font-family: Segoe UI;
      color: #565656;
      font-weight: normal; }

.infos-block {
  width: 80vw;
  height: 85vh;
  left: 17.5vw;
  top: 7.5vh;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow: auto;
  opacity: 0; }
  @media (max-width: 800px) {
    .infos-block {
      font-size: 0.7em; } }
  .infos-block .infos-block__title-Container {
    width: 100%;
    height: 10%; }
    .infos-block .infos-block__title-Container h1 {
      font-family: Trebuchet MS;
      text-decoration: underline;
      color: #E1000F;
      text-underline-offset: 0.125em;
      text-decoration-thickness: 0.5em;
      text-decoration-color: #ff001182;
      margin-left: 10px; }
      .infos-block .infos-block__title-Container h1:hover {
        color: #bd2a34;
        transition-duration: 0.5s; }
  .infos-block .infos-block__infos-container {
    width: 100%;
    height: 90%;
    overflow: auto; }
    .infos-block .infos-block__infos-container .chiffres-container {
      width: 100%;
      height: 25%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start; }
      @media (max-width: 800px) {
        .infos-block .infos-block__infos-container .chiffres-container {
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          overflow: auto; } }
      .infos-block .infos-block__infos-container .chiffres-container .chiffres {
        width: 30%;
        height: 90%;
        margin: 0 10px 0 10px;
        padding: 0 10px 0 10px;
        text-align: center; }
        @media (max-width: 800px) {
          .infos-block .infos-block__infos-container .chiffres-container .chiffres {
            width: 90%; } }
        .infos-block .infos-block__infos-container .chiffres-container .chiffres h2 {
          font-size: 0.9em; }
        .infos-block .infos-block__infos-container .chiffres-container .chiffres span {
          font-size: 2em; }
        .infos-block .infos-block__infos-container .chiffres-container .chiffres h3 {
          color: black;
          font-style: italic;
          font-weight: lighter;
          font-size: 0.7em; }
      .infos-block .infos-block__infos-container .chiffres-container #chiffres-1, .infos-block .infos-block__infos-container .chiffres-container #chiffres-4, .infos-block .infos-block__infos-container .chiffres-container #chiffres-9 {
        background-color: #ffd9c5;
        color: #a74820; }
        .infos-block .infos-block__infos-container .chiffres-container #chiffres-1:hover, .infos-block .infos-block__infos-container .chiffres-container #chiffres-4:hover, .infos-block .infos-block__infos-container .chiffres-container #chiffres-9:hover {
          background-color: #daa183;
          transition-duration: 0.5s; }
      .infos-block .infos-block__infos-container .chiffres-container #chiffres-2, .infos-block .infos-block__infos-container .chiffres-container #chiffres-5, .infos-block .infos-block__infos-container .chiffres-container #chiffres-7 {
        background-color: #c3d7ff;
        color: #455fb0; }
        .infos-block .infos-block__infos-container .chiffres-container #chiffres-2:hover, .infos-block .infos-block__infos-container .chiffres-container #chiffres-5:hover, .infos-block .infos-block__infos-container .chiffres-container #chiffres-7:hover {
          background-color: #6191f3;
          transition-duration: 0.5s; }
      .infos-block .infos-block__infos-container .chiffres-container #chiffres-3, .infos-block .infos-block__infos-container .chiffres-container #chiffres-6, .infos-block .infos-block__infos-container .chiffres-container #chiffres-8 {
        background-color: #ffd6ea;
        color: #7d4e5b; }
        .infos-block .infos-block__infos-container .chiffres-container #chiffres-3:hover, .infos-block .infos-block__infos-container .chiffres-container #chiffres-6:hover, .infos-block .infos-block__infos-container .chiffres-container #chiffres-8:hover {
          background-color: #fb8cc2;
          transition-duration: 0.5s; }
  .infos-block .text-container {
    width: 100%;
    height: 75%; }
    .infos-block .text-container p {
      padding: 10px 10px 10px 10px;
      font-family: Segoe UI;
      color: #565656;
      font-weight: normal; }
    .infos-block .text-container li {
      color: red; }
    .infos-block .text-container .download {
      width: 30vw;
      height: 5vh;
      color: blue;
      border: 1px solid blue;
      font-weight: normal;
      margin-left: 50%;
      margin-top: -10px;
      text-align: center;
      padding-top: 10px; }
      .infos-block .text-container .download:hover {
        background-color: #0000ff29; }

/*# sourceMappingURL=style.css.map */
